
    .sort_cell {
			border: 1px solid black;
			position: relative;
			display: flex;
			justify-content: center;
			float: left;
			width: 10%;
			margin: 2% 4% 2% 5%;
	}

	#black {
		color: black;
	}

	.sort {
		width: 20%;
		background: green;
		margin: 2% 1%;
		align-items: center;
	}

	.sort table {
		padding: 2% 0;
		border: 2px solid blue;
	}

	.sort td {
		width:30%;
	}

	.titulo_td {
		background: #eedd82;
	}

	#title_sort {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.tb_numeros_errados {
		margin-left: 15%;
		width: 70%;
		font-size: 1.5rem;
		border: 2px solid blue;
	}

	.tb_numeros_errados input[type="checkbox"] + label {
		padding: 7% 50% 7% 50%;
		color: #727176;
		cursor: pointer;
	}

	.tb_numeros_errados input[type="checkbox"]:hover + label {
		color: #ffffff;
		background-color: yellow;
	}

	.tb_numeros_errados input[type="checkbox"]:checked + label {
		color: #ffffff;
		background-color: #FF6600;
	}

	.tb_numeros_errados td {
		border: solid 2px #d3d1d1;
		text-align: center;
		padding: 1% 6% 1% 1%;
		background: white;
	}

	.tb_numeros_errados input[type="checkbox"] {
		display: none;
	}

	#select {
		float: left;
		background: yellow;
	}

	#select p {
		margin-left: 1%;
		color: blue;
	}

	#select input[type="submit"] {
		margin-left: 1%;
	}

	.top {
		font-size: 1.5rem;
	}
